[Unit]
Description=OpenSSH Server Host Key Generation - Regenerate on first boot
Before=ssh.service

[Service]
Type=simple
ExecStart=/usr/sbin/dpkg-reconfigure openssh-server
ExecStartPost=/usr/bin/systemctl disable regenerate_ssh_host_keys

[Install]
WantedBy=multi-user.target